/*default*/

body {
    padding-top: 50px;
    overflow: hidden;
    font-size: 1.8em;
}

#header {
    background-color: rgba(228, 114, 13, 100);
    border: 1px solid #000;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}

#main-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
}

#main {
    position: relative;
    height: 100%;
    padding: 0 15px;
}

#sidebar-wrapper {
    height: auto;
    padding: 50px 0 0px 0;
    /*    position: fixed;*/
    /*    border-right: 1px solid #000;*/
    background-color: #0a5372;
}

#sidebar {
    position: relative;
    height: 100%;
}


/*BARRA DE PESQUISA*/

.btn-pesquisa:hover {
    color: #fff;
    background: #0a5372;
}

.btn-pesquisa:active {
    color: #fff;
    background: #030e1b;
    outline: 0;
}

.list-group {
    overflow-y: auto;
    height: 100%;
}
.list-group::-webkit-scrollbar {
        width: 5px;
        background: transparent;
    }
    /* configurando scroll */
    .list-group::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }
    listt-group::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
    }


.list-group-item {
    border-radius: 15;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px;
    color: aliceblue;
    background-color: #0a5372;
    border: transparent;
}

.nav-side-bar-link {
    color: #fff;
    text-decoration-color: #ab0;
}

.logo {
    width: 30px;
    margin-top: -5px;
}


/**
 * Profile image component
 */

.profile-header-container {
    margin: 0 auto;
    text-align: center;
    padding-top: -30px;
}

.profile-header {
    margin-top: 21px;
}

.profile-header-img {
    padding: 54px;
    /*bug está aqui*/
}

.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(3, 14, 27);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

.profile-header-img>img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(3, 14, 27);
}


/* animation Profile image component */

.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.img-circle:hover {
    animation: treme 0.1s;
    animation-iteration-count: 3;
}

@keyframes treme {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 5px;
    }
    50% {
        margin-left: 0;
    }
    75% {
        margin-left: -5px;
    }
    100% {
        margin-left: 0;
    }
}


/*MENU TOGGLE*/

.mini-submenu {
    margin: 10px;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    /*  border: 1px solid rgba(0, 0, 0, 0.9);*/
    border-radius: 4px;
    padding: 9px;
    position: relative;
    width: 42px;
}

.mini-submenu:hover {
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: #000;
}

i.glyphicon {
    font-size: 1em;
}

#slide-submenu {
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.badge-sidebar {
    background-color: rgb(183, 23, 23);
}

.badge-navbar {
    background-color: rgb(183, 23, 23);
}

.progress {
    background-color: antiquewhite;
    width: 80%;
    margin: 0 auto;
}

.progress-bar {
    background-color: #e4720d;
}


/*NOTIFICAÇÕES*/

.scroll {
    height: 500px;
    overflow-y: scroll;
}

.modal-header {
    background: #0a5372;
    color: white;
}

.notificacao {
    position: relative;
    padding: 0 0 0 1px;
}

.bs-callout {
    padding: 20px;
    margin: 0 0 5px 0;
    border: 1px solid #eee;
    border-left-width: 8px;
    border-radius: 3px;
}

.bs-callout:empty {
    padding: 20px;
    margin: 0 5px 0 5px;
    border: none;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}


/*NOTIFICAÇÃO LIDA*/

.bs-callout-default {
    border-left-color: #777;
    color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bg-lida {
    background: #eee;
}


/*ACABA AQUI*/

.bs-callout-primary {
    border-left-color: #2d88a5;
}

.bs-callout-primary h4 {
    color: #000;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #000;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #000;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #000;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #000;
}


/*ACABA AQUI*/


/*
i{
    font-size:1.3em;
}
.navbar-tamanho_da_fonte{
    font-size: 1.3em;
}
*/


/*maiores que 768*/

@media (min-width: 768px) {
    #main {
        margin: auto;
    }
}


/*menores que 992 */

@media (max-width: 992px) {
    body {
        padding-top: 0px;
        overflow-y: scroll;
    }
    #main-wrapper {
        padding-top: 0px;
    }
    #sidebar-wrapper {
        position: static;
        height: auto;
        max-height: auto;
        border-right: 0;
        background-color: transparent;
    }
    .member_list {
    background-color:#0a5372;
}
    .a-1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 20%;
    background-color: #e88731;
    box-shadow: 0 0 5px #000;
    color:white;
}
}


/*Telas com height menor que 676*/


/*
@media (max-height: 676px) {
    #sidebar-wrapper {
        height: 100%;
        overflow-y: scroll;
    }
}
*/


/*maiores que 992*/

@media (min-width: 992px) {
    #main-wrapper {
        float: right;
    }
    #main {
        overflow-y: scroll;
    }
    #main::-webkit-scrollbar {
        width: 5px;
        background: transparent;
    }
    /* configurando scroll */
    #main::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }
    #main::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
    }
    #sidebar-wrapper {
        height: 100%;
        overflow-y: hidden;
    }
    #sidebar-wrapper::-webkit-scrollbar {
        margin-top: 56px;
        width: 5px;
        background: transparent;
    }
    /* configurando scroll */
    #sidebar-wrapper::-webkit-scrollbar-track {
        margin-top: 56px;
        background: rgba(0, 0, 0, 0.1);
    }
    #sidebar-wrapper::-webkit-scrollbar-thumb {
        margin-top: 56px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
    }
    /*Telas com height menor que */
    @media (max-height: 676px) {
        #sidebar-wrapper {
            overflow-y: scroll;
        }
    }

.a-1{
    border-radius: 50%;
    padding: 10px;
    background-color: #e88731;
    box-shadow: 0 0 5px #000;
    color:white;
}

}


/*CHAT*/

#custom-search-input {
    background: #e8e6e7 none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}

#custom-search-input .search-query {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
}

#custom-search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #666666;
    left: auto;
    margin-bottom: 0;
    margin-top: 7px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    z-index: 9999;
}

.search-query:focus+button {
    z-index: 3;
}

.all_conversation button {
    background: #030e1b;
    color: #fff;
    border: 1px solid #000;
    height: 38px;
    text-align: left;
    width: 100%;
}

.all_conversation i {
    border-radius: 100px;
    color: #fff;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.all_conversation .caret {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 5;
}

.all_conversation .dropdown-menu {
    background: #f5f3f3 none repeat scroll 0 0;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.all_conversation ul li {
    border-bottom: 1px solid #dddddd;
    line-height: normal;
    width: 100%;
}

.all_conversation ul li a:hover {
    background: #dddddd none repeat scroll 0 0;
    color: #333;
}

.colorida{
    border-left: 30px;
    border-color:aqua;
}

.all_conversation ul li a {
    color: #000;
    line-height: 30px;
    padding: 3px 20px;
}

.caixaA-1{
    width:100%;
    margin: 15px 0;
}

.a-1:hover{    
    border-bottom: 2px solid #fff;
    color:black;
    box-shadow: 0 0 0;*/
}


.a-1:active{
    box-shadow: 0 0 0px #000;
    
}


.member_list .chat-body {
    margin-left: 47px;
    margin-top: 0;
}

.top_nav {
    overflow: visible;
}

.member_list .contact_sec {
    margin-top: 3px;
}

.member_list li {
    padding: 6px;
}

.member_list ul {
    border: 0;
}


.chat-img img {
    height: 34px;
    width: 34px;
}

.member_list li {
    border-bottom: 1px solid #000;
    padding: 6px;
}

.member_list li:last-child {
    border-bottom: none;
}

.member_list {
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.sub_menu_ {
    background: #e8e6e7 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
}

.sub_menu_ {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    margin-left: 0;
    max-width: 233px;
    position: absolute;
    top: 0;
    width: 100%;
}

.all_conversation ul li:hover .sub_menu_ {
    display: block;
}

.new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

.new_message_head {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
}

.message_section {
    border: 1px solid #dddddd;
}

.chat_area {
    float: left;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.chat_area li {
    padding: 14px 14px 0;
}

.chat_area li .chat-img1 img {
    height: 40px;
    width: 40px;
}

.chat_area .chat-body1 {
    margin-left: 50px;
}

.chat-body1 p {
    background: #fbf9fa none repeat scroll 0 0;
    padding: 10px;
}

.chat_area .admin_chat .chat-body1 {
    margin-left: 0;
    margin-right: 50px;
}

.chat_area li:last-child {
    padding-bottom: 10px;
}

.message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

.message_write textarea.form-control {
    height: 70px;
    padding: 10px;
}

.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}

.upload_btn {
    color: #777777;
}

.sub_menu_>li a,
.sub_menu_>li {
    float: left;
    width: 100%;
}

.member_list li:hover {
    background: #030e1b none repeat scroll 0 0;
    cursor: pointer;
}